<div id="ethIDSearch" class="form-group">
    <input type="text"
           class="form-control input-group-lg"
           placeholder="Ethereum Address e.g. 0xde0b295669a9fd93d5f28d9ec85e40f4cb697bae">
</div>
<script src="/bower_components/web3/dist/web3.js"></script>
<script>
    let web3 = new Web3();
    let $ethIDSearch = $('#ethIDSearch');
    $ethIDSearch.find('input').on('keypress', function (e) {
        if (e.which === 13) {
            e.preventDefault();
            var addr = e.target.value;
            if (!web3.isAddress(addr)) {
                $ethIDSearch.addClass('has-danger');
                $(this).addClass('form-control-danger');
                $ethIDSearch.find('input').once('change input', function () {
                    $ethIDSearch.removeClass('has-danger');
                    $(this).removeClass('form-control-danger');
                });
                return;
            }
            window.location.pathname = '/' + addr;
        }
    });
</script>