<div class="row">
   <div class="col-sm-10 col-sm-push-1">
      <div class="jumbotron">
         <h2>About</h2>
         <p>
            EthID is an open source project. Source can be found at
            <a href="https://github.com/mvanderh/EthID">https://github.com/mvanderh/EthID</a>.
         </p>
         <p>
            Created by <a href="http://me.k33k5.xyz">Mitchell Van Der Hoeff</a>
            (<a href="mailto:mitchellvanderhoeff@gmail.com">mitchellvanderhoeff@gmail.com</a>)
         </p>
      </div>
   </div>
</div>