<div class="row">
   <div class="col-md-5">
      <div class="card">
         <div class="card-block">
            <h4 class="card-title">
               Identity Contracts
            </h4>
            <div class="card-text">
               <p>
                  These are the contracts that store identity on the Ethereum blockchain. One contract exists for each
                  identity provider (Coinbase, Twitter, Google, etc.).
               </p>
               <p>
                  <strong>Link Identity</strong>
                  <br>
                  To link your identity to an Ethereum address, call <code>register</code> on
                  a contract with your email address.
               </p>
               <p>
                  To do this, paste a contract's address and ABI into your Mist wallet (Contracts > Watch Contract) and
                  send a transaction to it calling <code>register</code> with your email address.
               </p>
               <p>
                  <strong>Use in Contract</strong>
                  <br>
                  To use an address' identity in your own contract, simply use the <code>verifiedIdentityOf</code> mapping in the contract.
               </p>
               <strong>Solidity Interface</strong>
                  <pre>contract EthID {
   mapping (address => string) public verifiedIdentityOf;
}</pre>
            </div>
         </div>
      </div>
   </div>
   <div class="col-md-7">
      {{#each contracts}}
         <div class="card">
            <div class="card-block">
               <h4 class="card-title">
                  <a href="/contracts/{{ identityType }}">
                     {{ identityType }}
                  </a>
               </h4>
               <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                     <strong>Address: </strong>
                     <pre>{{ ethereumAddress }}</pre>
                  </li>
               </ul>
            </div>
         </div>
      {{/each}}
   </div>
</div>