<div class="row">
    <h3>Integrate EthID into your Ethereum contract</h3>
    {{#each contracts}}
        <div class="row">
            {{ ethereumAddress }}
            ({{ identityType }})
        </div>
    {{/each}}
</div>