<div class="row">
    <div class="jumbotron col-sm-10 col-sm-push-1">
        <h2 class="text-center">Your Ethereum Identity</h2>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                        Address
                    </th>
                    <th>
                        Type
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>
            </thead>
            {{#each pending}}
                <tr>
                    <td>
                        {{ ethAddr }}
                    </td>
                    <td>
                        {{ type }}
                    </td>
                    <td>
                        <button class="btn btn-danger">
                            Reject
                        </button>
                        <button class="btn btn-success">
                            Approve
                        </button>
                    </td>
                </tr>
            {{/each}}
        </table>
    </div>
</div>