<div class="row">
    <div class="jumbotron col-sm-10 col-sm-push-1">
        <h2 class="text-center">EthID</h2>
        <p>
            <strong>EthID</strong> allows you to link your Coinbase identity to an Ethereum address on the blockchain.
        </p>
        <h3>
            <a href="/login">
                Login with Coinbase
            </a>
        </h3>
    </div>
</div>