<div class="row">
    <div class="col-sm-10 col-sm-push-1">
        <div class="jumbotron">
            <h3>Your identity, on the blockchain</h3>
            <hr>
            <p>
                <strong>EthID</strong> allows you to link your identity to an Ethereum address and store it on the
                Ethereum blockchain, where it can be used by other contracts that require identity.
            </p>
            <p>
                Linking an Ethereum address is as simple as calling the <code>register()</code> function from that address
                on one of the <a href="/contracts">EthID contracts</a>, and
                <a href="/identity">approving</a> the address on this website.
            </p>
            <p>
                <strong>EthID</strong> is <a href="https://github.com/mvanderh/EthereumID">open source</a>.
                Please be aware that this software is still in a pre-alpha stage.
            </p>
            <p>
                <small>
                    Right now, only Coinbase OAuth is supported.
                    However, the plan in the future is to support a plethora of OAuth providers (e.g. Twitter, Facebook, Google).
                </small>
            </p>
            <div class="row">
                <div class="col-sm-10 col-sm-push-1">
                    <h5>Search EthIDs</h5>
                    {{> ethIDSearchBar }}
                </div>
            </div>

            {{#unless isLoggedIn}}
                <a href="/login" class="btn btn-primary">
                    Login with Coinbase
                </a>
            {{/unless}}
        </div>
    </div>
</div>