<div class="row">
    <div class="jumbotron col-sm-10 col-sm-push-1">
        <p>
            <strong>EthID</strong> allows you to link your identity to an Ethereum address and store it on the Ethereum blockchain.
        </p>
        <ul>
            {{#if loggedIn}}
                <li>
                    <a href="/identity" class="btn btn-default">
                        View your Identities
                    </a>
                </li>
                <li>
                    <a href="/logout" class="btn btn-primary">
                        Log out
                    </a>
                </li>
            {{else}}
                <li>
                    <a href="/login" class="btn btn-default">
                        Login with Coinbase
                    </a>
                </li>
            {{/if}}
        </ul>
    </div>
</div>