<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
</head>
<body class="container">
{{{body}}}
</body>
</html>